.subjectHeader {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.marginAuto {
    margin: auto;
}

.newSubjectButton {
    height: 40px;
}

.reportSubjectsList {
    margin-left: 15px;
    margin-right: 15px;
}