<div class="homeContent">
    <h1>Bienvenue sur Bulletin !</h1>
    <p>Disponible dans cette version : </p>
    <ul>
        <li><b>Gestion de classes</b> : Création, Modification, listing et suppression ;</li>
        <li><b>Gestion d'élèves</b> : Création, modification, listing et suppression.</li>
        <li><b>Gestion des bulletins</b> : Création, modification, listing et suppression.</li>
        <li><b>Gestion des matières</b> : Création, modification, listing et suppression.</li>
    </ul>    
</div>
